<html lang="en">

<head>
  <title>dashboard</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/css/main.css">

  <style>
    #header {
      background-image: url("{{ url_for('static', filename='images/banner.jpg') }}");
    }
  </style>

  <script>

    function category_select() {
      var a = document.getElementById("input-website").value;
      if (a === "Amazon") {
        var arr = ["Select a Category", "Bluetooth_Speakers", "Cameras", "Earphones", "Hard_Disks", "Laptops",
          "Mobiles", "Pendrives", "Power_Banks", "Smart_Watches", "Tablets"];
        var fun = "amazon_product_select()";
      }
      else if (a === "Flipkart") {
        var arr = ["Select a Category", "Bluetooth_Speakers", "Cameras", "Earphones", "Hard_Disks", "Laptops",
          "Mobiles", "Pendrives", "Power_Banks", "Smart_Watches", "Tablets"];
        var fun = "flipkart_product_select()";
      }
      else if (a == "Select a website") {
        var arr = ["Select a Website first"];
      }
      var string = "";

      for (i = 0; i < arr.length; i++) {
        string = string + "<option>" + arr[i] + "</option>";
      }
      string = "<select id='input-category' style='font-size: 23px; margin-top:5%;' name='category1' onchange=" + fun + ">" + string + "</select>";
      document.getElementById("output1").innerHTML = string;
    }

    function amazon_product_select() {
      var b = document.getElementById("input-category").value;
      if (b === "Bluetooth_Speakers") {
        var arr1 = ["Select a Product", "boAt_Stone_200", "boAt_Stone_1000", "Echo_Dot_(3rd_Gen)", "JBL_Flip_3", "JBL_GO", "Mivi_Roam", "Photrn_P10",
          "Portronics_POR_871", "Portronics POR-871_SoundDrum_4.2", "Saregama_Carvaan", "Sony_SRS-XB10_EXTRA_BASS"];

      }
      else if (b === "Cameras") {
        var arr1 = ["Select a Product", "Canon_EOS_200D", "Canon_EOS_1500D_camera", "Canon_EOS_1500D", "D3D_D8810", "Fujifilm_Instax_Mini_9",
          "Mi_MJSXJ02CM", "Nikon_D5300", "Sony_CyberShot_DSCH300", "Sony_Cybershot_DSCWX220", "Sony_DSC_W830", "Sricam_SP_Series_SP005"];
      }
      else if (b === "Earphones") {
        var arr1 = ["Select a Product", "boAt_BassHeads_100", "boAt_BassHeads_152", "boAt_BassHeads_225", "boAt_Rockerz_255_Bluetooth_Earphone", "JBL_C50HI",
          "JBL_C100SI", "Sennheiser_CX_275_S", "Skullcandy_S2DUDZ_072", "Skullcandy_SCS2DUFZ_385", "Sony_MDR_EX150AP", "Sony_MDR_ZX110A"];
      }
      else if (b === "Hard_Disks") {
        var arr1 = ["Select a Product", "Lenovo_F309_USB3_1TB", "Seagate_1TB_Backup_Plus_Slim", "Seagate_2TB_Backup_Plus_External_Hard_Drive", "Seagate_Expansion_Portable_1.5TB",
          "Toshiba_Canvio_Basics_1TB_USB_3", "Transcend_StoreJet_25M3_2-inch_1TB", "WD_My_Passport_4TB", "Western_Digital_Elements_1TB_USB_3", "Western_Digital_My_Passport_2TB"];
      }
      else if (b === "Laptops") {
        var arr1 = ["Select a Product", "ASUS_VivoBooK_Intel_Core_i3", "Dell_Inspiron_3567_Intel_Core_i3", "Dell_Inspiron_Laptop_02", "Dell_Vostro_3480_Intel_Core_i3_8th_Gen",
          "HP_14_Core_i3_7th_gen_14-inch", "HP_14-inch_Core_i5_8th_Gen", "HP_15_Core_i3_7th_gen", "HP_15_Intel_Core_i5", "HP_Laptop_01", "Lenovo_Ideapad_S145_AMD_A6-9225",
          "Lenovo_Legion_Y540_9th_Gen_Intel_Core_i5"];
      }
      else if (b === "Mobiles") {
        var arr1 = ["Select a Product", "Apple_iPhone_XR", "Honor_8X", "Mi_Redmi_6A", "Moto_G_4th_Gen", "Motorola_G5s_Plus", "one_plus_7t", "OnePlus_3T", "OnePlus_5",
          "OnePlus_5T", "OnePlus_7", "OnePlus_7_Pro", "Poco_F1_by_Xiaomi", "Realme_U1", "Redmi_7A", "Redmi_7", "Redmi_Note_8", "Redmi_Note_8_Pro", "Redmi_Y3", "Samsung_Galaxy_M10s",
          "Samsung_Galaxy_M20", "Samsung_Galaxy_M30", "Samsung_Galaxy_M40", "samsung_m30", "Vivo_U10", "Xiaomi_Mi_A3"];
      }
      else if (b === "Pendrives") {
        var arr1 = ["Select a Product", "Kingston_DataTraveler_SE9_16GB_USB_2", "SanDisk_Cruzer_Blade_32GB_USB_Flash_Drive", "SanDisk_Dual_Drive_Type_C",
          "San_Disk_Ultra_32GB_USB_3_Flash_Drive", "SanDisk_Ultra_CZ48_128GB_USB_3", "SanDisk_Ultra_Dual_16GB_USB_3_OTG", "SanDisk_Ultra_Dual_16GB_USB_3_Pen_Drive",
          "SanDisk_Ultra_Dual_32GB_USB_3_OTG", "SanDisk_Ultra_Dual_64GB_USB_3.0_OTG_Pen_Drive", "Sony_16GB_Microvault_USB_Flash_Drive", "Sony_USM32BA2_OTG_32GB"];
      }
      else if (b === "Power_Banks") {
        var arr1 = ["Select a Product", "Ambrane_10000mAh_Lithium_Polymer", "Ambrane_20000mAh_Lithium_Polymer", "Ambrane_Power_Bank_P-1111", "Ambrane_Power_Bank_P-1310",
          "Ambrane_PP-150_15000_mAh", "Intex_IT-PB11K_11000mAH", "Lapguard_LG514_10", "Lapguard_LG803_20800mAH", "Mi_10000mAH_Li-Polymer", "Mi_10000mAH_Li-Polymer_Power_Bank_2i",
          "Mi_20000mAH_Li-Polymer"];
      }
      else if (b === "Smart_Watches") {
        var arr1 = ["Select a Product", "Amazfit_BIP_Lite_3ATM_Smart_Watch", "Amazfit_Bip_Lite_Smart_Watch", "Fastrack_Reflex_2", "Honor_Band_4", "HONOR_Band_5", "Mi_Band_3",
          "Mi_Smart_Band_4", "SAMSUNG_Gear_S3_Frontier_Smartwatch", "SKMEI_Digital_Dial"];
      }
      else if (b === "Tablets") {
        var arr1 = ["Select a Product", "Apple_iPad_Tablet", "Apple_iPad_(Wi-Fi_32GB)", "HUAWEI_MediaPad_T5_Tablet", "Lenovo_Tab4_8_Plus_Tablet", "Samsung_Galaxy_Tab_A_10.1"];
      }
      else if (b == "Select a Category") {
        var arr1 = ["Select a Category First"];
      }

      else if (category_select() == "Select a Website") {
        var arr1 = ["Select a Category First"];
      }


      var string = "";

      for (i = 0; i < arr1.length; i++) {
        string = string + "<option>" + arr1[i] + "</option>";
      }
      string = "<select name='product1' style='font-size: 23px; margin-top: 5%;' onchange='submit_btn1()'>" + string + "</select><br><br>";
      document.getElementById("output2").innerHTML = string;
    }


    function flipkart_product_select() {
      var b = document.getElementById("input-category").value;
      if (b === "Bluetooth_Speakers") {
        var arr1 = ["Select a Product", "boAt_Stone_Grenade_5W_Portable_Bluetooth_Speaker", "F&boAt_Rugby_10W_Bluetooth_Speaker",
          "F&D_A180X_42W_Portable_Bluetooth_Home_Theatre", "Flipkart_SmartBuy_6W_Powerful_Bass_Bluetooth_Speaker",
          "F&Philips_BT50_2W_Portable_Bluetooth_Speaker", "JBL_Go_PLUS_Portable_Bluetooth_Speaker", "MarQ_by_Flipkart_FS23S_120",
          "Mi_(8_speaker_drivers)_Bluetooth_Soundbar", "Philips_BT40_Portable_Bluetooth_Speaker", "Portronics_POR_821_SoundDrum_Stereo_10W_Bluetooth_Speaker"];

      }
      else if (b === "Cameras") {
        var arr1 = ["Select a Product", "Canon_3000D", "Canon_EOS_1500D", "Canon_EOS_3000D", "Digitek_DTR_550_LW", "KBOOM_Camera_Tripod", "Nikon_D3500",
          "Nikon_D5600", "Noise_Play_Sports_and_Action_Camera", "Oxhox_Tripod_3110", "Perfect_Nova"];
      }
      else if (b === "Earphones") {
        var arr1 = ["Select a Product", "boAt_BassHeads_220", "boAt_Rockerz_255F_Bluetooth", "boAt_Rockerz_400", "JBL_C150SI_Wired", "JBL_T250SI",
          "Mi_Basic_Wired", "Skullcandy_Headset_with_mic", "Skullcandy_Inked_Headset", "Sony_310AP_Wired_Headset", "Sony_ZX110A_Wired"];
      }
      else if (b === "Hard_Disks") {
        var arr1 = ["Select a Product", "HP_1_TB_Wired", "SanDisk_Ultra_Dual_Drive_M3.0_32_GB_OTG_Drive", "Toshiba_Canvio_Basics_1_TB",
          "Toshiba_Canvio_Basics_2_TB", "WD_1.5_TB_Wired", "WD_Elements_1_TB", "WD_Elements_2.5_inch_2_TB", "WD_My_Passport_2_TB",
          "WD_My_Passport_4_TB_Wired"];
      }
      else if (b === "Laptops") {
        var arr1 = ["Select a Product", "Acer_Nitro_5_Ryzen_5_Quad_Core", "Acer_Predator_Helios_300_Core_i5_8th_Gen", "Apple_MacBook_Air_Core_i5_5th_Gen",
          "Asus_VivoBook_S_Series_Core_i5_8th_Gen", "Dell_14_3000_Core_i3_7th_Gen", "Dell_Vostro_14_3000_Core_i5_8th_Gen", "HP_15q_Core_i3_7th_Gen",
          "HP_15q_Pentium_Quad_Core", "Lenovo_Ideapad_Core_i5_7th_Gen", "MSI_GL_Series_Core_i5_8th_Gen"];
      }
      else if (b === "Mobiles") {
        var arr1 = ["Select a Product", "Apple_iPhone_7", "Asus_ZenFone_Max_M2", "Asus_Zenfone_Max_Pro_M1", "Honor_9N", "Infinix_Hot_8", "Lava_A1", "Nokia_6.1_Plus",
          "note7_pro", "one_plus_7t", "OPPO_F11", "OPPO_F11_Pro", "POCO_F1_by_Xiaomi", "Realme_3i", "Realme_3_Pro", "Realme_5", "Realme_5_Pro", "Realme_5s",
          "Realme_C2", "Realme_XT", "redmi-8", "Redmi_7A", "Redmi_8A", "Redmi_Note_7_Pro", "Redmi_Note_7S", "Vivo_Z1Pro"];
      }
      else if (b === "Pendrives") {
        var arr1 = ["Select a Product", "Kingston_DTSWIVL", "Sandisk_Cruzer_Blade_16_GB_Pendrive", "Sandisk_Cruzer_Blade_32_GB", "SanDisk_SDCZ50-064g-I35",
          "SanDisk_SDDDC2-032G-I35_32_GB", "SanDisk_Ultra_Dual_Drive_M3.0_32_GB_OTG_Drive", "SanDisk_Ultra_Dual_SDDD3-064G-I35_64_GB", "SanDisk_Ultra_USB3.0_32_GB",
          "Toshiba_TransMemory",];
      }
      else if (b === "Power_Banks") {
        var arr1 = ["Select a Product", "Intex_11000_mAh_Power_Bank", "Intex_12500_mAh_Power_Bank", "Intex_20000_mAh_Power_Bank", "Mi_10000_mAh_Power_Bank",
          "Mi_20000_mAh_Power_Bank", "Philips_10000_mAh_Power_Bank", "Philips_11000_mAh_Power_Bank", "Philips_20000_mAh_Power_Bank"];
      }
      else if (b === "Smart_Watches") {
        var arr1 = ["Select a Product", "Apple_Watch_Series_3_GPS", "CELESTECH_CS009_phone_Black_Smartwatch", "gionee_smart_life_smartwatch",
          "Huami_Amazfit_Bip_Kokoda_Green_Smartwatch", "Huami_Amazfit_Bip_Onyx_Black_Smartwatch", "lenovo_carme_na_smartwatch", "lenovo_ego_black_smartwatch",
          "Mi_Band_3", "noise_colorfit_pro_smartwatch"];
      }
      else if (b === "Tablets") {
        var arr1 = ["Select a Product", "Apple_iPad_(6th_Gen)_32_GB", "Apple_iPad_(6th_Gen)_128_GB", "Apple_ipad_Mini_(2019)_256_GB",
          "Honor_MediaPad_T3_10_32_GB", "Honor_MediaPad_T3_16_GB", "Huawei_MediaPad_M5_Lite_32_GB", "Lenovo_Tab_4_8_Plus_64_GB",
          "Lenovo_Yoga_3_(2_GB_RAM)_16 GB", "Samsung_Galaxy_Tab_A_8"];
      }
      else if (b == "Select a Category") {
        var arr1 = ["Select a Category First"];
      }

      else if (category_select() == "Select a Website") {
        var arr1 = ["Select a Category First"];
      }


      var string = "";

      for (i = 0; i < arr1.length; i++) {
        string = string + "<option>" + arr1[i] + "</option>";
      }
      string = "<select name='product1' style='font-size: 23px; margin-top: 5%;' onchange='submit_btn1()'>" + string + "</select><br><br>";
      document.getElementById("output2").innerHTML = string;
    }

    function submit_btn1() {
      string = "<button class='btn btn-primary py-3 px-5 btn-pill' style='font-size: 15px;' type='submit'>Submit</button>";
      document.getElementById("submitbtn1").innerHTML = string;
    }

    function fe_category_select() {
      var a = document.getElementById("fe-input-website").value;
      if (a === "Amazon") {
        var arr = ["Select a Category", "Bluetooth_Speakers", "Cameras", "Earphones", "Hard_Disks",
          "Laptops", "Mobiles", "Pendrives", "Power_Banks", "Smart_Watches", "Tablets"];
        var fun = "fe_amazon_product_select()";
      }
      else if (a === "Flipkart") {
        var arr = ["Select a Category", "Bluetooth_Speakers", "Cameras", "Earphones", "Hard_Disks",
          "Laptops", "Mobiles", "Pendrives", "Power_Banks", "Smart_Watches", "Tablets"];
        var fun = "fe_flipkart_product_select()";
      }
      else if (a == "Select a website") {
        var arr = ["Select a Website first"];
      }
      var string = "";

      for (i = 0; i < arr.length; i++) {
        string = string + "<option>" + arr[i] + "</option>";
      }
      string = "<select id='fe-input-category' style='font-size: 23px; margin-top: 5%;' name='category2' onchange=" + fun + ">" + string + "</select>";
      document.getElementById("output-01").innerHTML = string;
    }

    function fe_amazon_product_select() {
      var b = document.getElementById("fe-input-category").value;
      if (b === "Bluetooth_Speakers") {
        var arr1 = ["Select a Product", "boAt_Stone_200", "boAt_Stone_1000", "Echo_Dot_(3rd_Gen)", "JBL_Flip_3", "JBL_GO", "Mivi_Roam", "Photrn_P10",
          "Portronics_POR_871", "Portronics POR-871_SoundDrum_4.2", "Saregama_Carvaan", "Sony_SRS-XB10_EXTRA_BASS"];
      }
      else if (b === "Cameras") {
        var arr1 = ["Select a Product", "Canon_EOS_200D", "Canon_EOS_1500D_camera", "Canon_EOS_1500D", "D3D_D8810", "Fujifilm_Instax_Mini_9",
          "Mi_MJSXJ02CM", "Nikon_D5300", "Sony_CyberShot_DSCH300", "Sony_Cybershot_DSCWX220", "Sony_DSC_W830", "Sricam_SP_Series_SP005"];
      }
      else if (b === "Earphones") {
        var arr1 = ["Select a Product", "boAt_BassHeads_100", "boAt_BassHeads_152", "boAt_BassHeads_225", "boAt_Rockerz_255_Bluetooth_Earphone", "JBL_C50HI",
          "JBL_C100SI", "Sennheiser_CX_275_S", "Skullcandy_S2DUDZ_072", "Skullcandy_SCS2DUFZ_385", "Sony_MDR_EX150AP", "Sony_MDR_ZX110A"];
      }
      else if (b === "Hard_Disks") {
        var arr1 = ["Select a Product", "Lenovo_F309_USB3_1TB", "Seagate_1TB_Backup_Plus_Slim", "Seagate_2TB_Backup_Plus_External_Hard_Drive", "Seagate_Expansion_Portable_1.5TB",
          "Toshiba_Canvio_Basics_1TB_USB_3", "Transcend_StoreJet_25M3_2-inch_1TB", "WD_My_Passport_4TB", "Western_Digital_Elements_1TB_USB_3", "Western_Digital_My_Passport_2TB"];
      }
      else if (b === "Laptops") {
        var arr1 = ["Select a Product", "ASUS_VivoBooK_Intel_Core_i3", "Dell_Inspiron_3567_Intel_Core_i3", "Dell_Inspiron_Laptop_02", "Dell_Vostro_3480_Intel_Core_i3_8th_Gen",
          "HP_14_Core_i3_7th_gen_14-inch", "HP_14-inch_Core_i5_8th_Gen", "HP_15_Core_i3_7th_gen", "HP_15_Intel_Core_i5", "HP_Laptop_01", "Lenovo_Ideapad_S145_AMD_A6-9225",
          "Lenovo_Legion_Y540_9th_Gen_Intel_Core_i5"];
      }
      else if (b === "Mobiles") {
        var arr1 = ["Select a Product", "Apple_iPhone_XR", "Honor_8X", "Mi_Redmi_6A", "Moto_G_4th_Gen", "Motorola_G5s_Plus", "one_plus_7t", "OnePlus_3T", "OnePlus_5",
          "OnePlus_5T", "OnePlus_7", "OnePlus_7_Pro", "Poco_F1_by_Xiaomi", "Realme_U1", "Redmi_7A", "Redmi_7", "Redmi_Note_8", "Redmi_Note_8_Pro", "Redmi_Y3", "Samsung_Galaxy_M10s",
          "Samsung_Galaxy_M20", "Samsung_Galaxy_M30", "Samsung_Galaxy_M40", "samsung_m30", "Vivo_U10", "Xiaomi_Mi_A3"];
      }
      else if (b === "Pendrives") {
        var arr1 = ["Select a Product", "Kingston_DataTraveler_SE9_16GB_USB_2", "SanDisk_Cruzer_Blade_32GB_USB_Flash_Drive", "SanDisk_Dual_Drive_Type_C",
          "San_Disk_Ultra_32GB_USB_3_Flash_Drive", "SanDisk_Ultra_CZ48_128GB_USB_3", "SanDisk_Ultra_Dual_16GB_USB_3_OTG", "SanDisk_Ultra_Dual_16GB_USB_3_Pen_Drive",
          "SanDisk_Ultra_Dual_32GB_USB_3_OTG", "SanDisk_Ultra_Dual_64GB_USB_3.0_OTG_Pen_Drive", "Sony_16GB_Microvault_USB_Flash_Drive", "Sony_USM32BA2_OTG_32GB"];
      }
      else if (b === "Power_Banks") {
        var arr1 = ["Select a Product", "Ambrane_10000mAh_Lithium_Polymer", "Ambrane_20000mAh_Lithium_Polymer", "Ambrane_Power_Bank_P-1111", "Ambrane_Power_Bank_P-1310",
          "Ambrane_PP-150_15000_mAh", "Intex_IT-PB11K_11000mAH", "Lapguard_LG514_10", "Lapguard_LG803_20800mAH", "Mi_10000mAH_Li-Polymer", "Mi_10000mAH_Li-Polymer_Power_Bank_2i",
          "Mi_20000mAH_Li-Polymer"];
      }
      else if (b === "Smart_Watches") {
        var arr1 = ["Select a Product", "Amazfit_BIP_Lite_3ATM_Smart_Watch", "Amazfit_Bip_Lite_Smart_Watch", "Fastrack_Reflex_2", "Honor_Band_4", "HONOR_Band_5", "Mi_Band_3",
          "Mi_Smart_Band_4", "SAMSUNG_Gear_S3_Frontier_Smartwatch", "SKMEI_Digital_Dial"];
      }
      else if (b === "Tablets") {
        var arr1 = ["Select a Product", "Apple_iPad_Tablet", "Apple_iPad_(Wi-Fi_32GB)", "HUAWEI_MediaPad_T5_Tablet", "Lenovo_Tab4_8_Plus_Tablet", "Samsung_Galaxy_Tab_A_10.1"];
      }
      else if (b == "Select a Category") {
        var arr1 = ["Select a Category First"];
      }


      var string = "";

      for (i = 0; i < arr1.length; i++) {
        string = string + "<option>" + arr1[i] + "</option>";
      }
      string = "<select name='product2' style='font-size: 23px; margin-top: 5%;' onchange='submit_btn2()'>" + string + "</select><br><br>";
      document.getElementById("output-02").innerHTML = string;

    }

    function fe_flipkart_product_select() {
      var b = document.getElementById("fe-input-category").value;
      if (b === "Bluetooth_Speakers") {
        var arr1 = ["Select a Product", "boAt_Stone_Grenade_5W_Portable_Bluetooth_Speaker", "F&boAt_Rugby_10W_Bluetooth_Speaker",
          "F&D_A180X_42W_Portable_Bluetooth_Home_Theatre", "Flipkart_SmartBuy_6W_Powerful_Bass_Bluetooth_Speaker",
          "F&Philips_BT50_2W_Portable_Bluetooth_Speaker", "JBL_Go_PLUS_Portable_Bluetooth_Speaker", "MarQ_by_Flipkart_FS23S_120",
          "Mi_(8_speaker_drivers)_Bluetooth_Soundbar", "Philips_BT40_Portable_Bluetooth_Speaker", "Portronics_POR_821_SoundDrum_Stereo_10W_Bluetooth_Speaker"];

      }
      else if (b === "Cameras") {
        var arr1 = ["Select a Product", "Canon_3000D", "Canon_EOS_1500D", "Canon_EOS_3000D", "Digitek_DTR_550_LW", "KBOOM_Camera_Tripod", "Nikon_D3500",
          "Nikon_D5600", "Noise_Play_Sports_and_Action_Camera", "Oxhox_Tripod_3110", "Perfect_Nova"];
      }
      else if (b === "Earphones") {
        var arr1 = ["Select a Product", "boAt_BassHeads_220", "boAt_Rockerz_255F_Bluetooth", "boAt_Rockerz_400", "JBL_C150SI_Wired", "JBL_T250SI",
          "Mi_Basic_Wired", "Skullcandy_Headset_with_mic", "Skullcandy_Inked_Headset", "Sony_310AP_Wired_Headset", "Sony_ZX110A_Wired"];
      }
      else if (b === "Hard_Disks") {
        var arr1 = ["Select a Product", "HP_1_TB_Wired", "SanDisk_Ultra_Dual_Drive_M3.0_32_GB_OTG_Drive", "Toshiba_Canvio_Basics_1_TB",
          "Toshiba_Canvio_Basics_2_TB", "WD_1.5_TB_Wired", "WD_Elements_1_TB", "WD_Elements_2.5_inch_2_TB", "WD_My_Passport_2_TB",
          "WD_My_Passport_4_TB_Wired"];
      }
      else if (b === "Laptops") {
        var arr1 = ["Select a Product", "Acer_Nitro_5_Ryzen_5_Quad_Core", "Acer_Predator_Helios_300_Core_i5_8th_Gen", "Apple_MacBook_Air_Core_i5_5th_Gen",
          "Asus_VivoBook_S_Series_Core_i5_8th_Gen", "Dell_14_3000_Core_i3_7th_Gen", "Dell_Vostro_14_3000_Core_i5_8th_Gen", "HP_15q_Core_i3_7th_Gen",
          "HP_15q_Pentium_Quad_Core", "Lenovo_Ideapad_Core_i5_7th_Gen", "MSI_GL_Series_Core_i5_8th_Gen"];
      }
      else if (b === "Mobiles") {
        var arr1 = ["Select a Product", "Apple_iPhone_7", "Asus_ZenFone_Max_M2", "Asus_Zenfone_Max_Pro_M1", "Honor_9N", "Infinix_Hot_8", "Lava_A1", "Nokia_6.1_Plus",
          "note7_pro", "one_plus_7t", "OPPO_F11", "OPPO_F11_Pro", "POCO_F1_by_Xiaomi", "Realme_3i", "Realme_3_Pro", "Realme_5", "Realme_5_Pro", "Realme_5s",
          "Realme_C2", "Realme_XT", "redmi-8", "Redmi_7A", "Redmi_8A", "Redmi_Note_7_Pro", "Redmi_Note_7S", "Vivo_Z1Pro"];
      }
      else if (b === "Pendrives") {
        var arr1 = ["Select a Product", "Kingston_DTSWIVL", "Sandisk_Cruzer_Blade_16_GB_Pendrive", "Sandisk_Cruzer_Blade_32_GB", "SanDisk_SDCZ50-064g-I35",
          "SanDisk_SDDDC2-032G-I35_32_GB", "SanDisk_Ultra_Dual_Drive_M3.0_32_GB_OTG_Drive", "SanDisk_Ultra_Dual_SDDD3-064G-I35_64_GB", "SanDisk_Ultra_USB3.0_32_GB",
          "Toshiba_TransMemory",];
      }
      else if (b === "Power_Banks") {
        var arr1 = ["Select a Product", "Intex_11000_mAh_Power_Bank", "Intex_12500_mAh_Power_Bank", "Intex_20000_mAh_Power_Bank", "Mi_10000_mAh_Power_Bank",
          "Mi_20000_mAh_Power_Bank", "Philips_10000_mAh_Power_Bank", "Philips_11000_mAh_Power_Bank", "Philips_20000_mAh_Power_Bank"];
      }
      else if (b === "Smart_Watches") {
        var arr1 = ["Select a Product", "Apple_Watch_Series_3_GPS", "CELESTECH_CS009_phone_Black_Smartwatch", "gionee_smart_life_smartwatch",
          "Huami_Amazfit_Bip_Kokoda_Green_Smartwatch", "Huami_Amazfit_Bip_Onyx_Black_Smartwatch", "lenovo_carme_na_smartwatch", "lenovo_ego_black_smartwatch",
          "Mi_Band_3", "noise_colorfit_pro_smartwatch"];
      }
      else if (b === "Tablets") {
        var arr1 = ["Select a Product", "Apple_iPad_(6th_Gen)_32_GB", "Apple_iPad_(6th_Gen)_128_GB", "Apple_ipad_Mini_(2019)_256_GB",
          "Honor_MediaPad_T3_10_32_GB", "Honor_MediaPad_T3_16_GB", "Huawei_MediaPad_M5_Lite_32_GB", "Lenovo_Tab_4_8_Plus_64_GB",
          "Lenovo_Yoga_3_(2_GB_RAM)_16 GB", "Samsung_Galaxy_Tab_A_8"];
      }
      else if (b == "Select a Category") {
        var arr1 = ["Select a Category First"];
      }


      var string = "";

      for (i = 0; i < arr1.length; i++) {
        string = string + "<option>" + arr1[i] + "</option>";
      }
      string = "<select name='product2' style='font-size: 23px; margin-top: 5%;' onchange='submit_btn2()'>" + string + "</select><br><br>";
      document.getElementById("output-02").innerHTML = string;

    }


    function submit_btn2() {
      string = "<button class='btn btn-primary py-3 px-5 btn-pill' style='font-size: 15px;' type='submit'>Submit</button>";
      document.getElementById("submitbtn2").innerHTML = string;
    }

    function om_category_select() {
      var a = document.getElementById("om-input-website").value;
      if (a === "Amazon") {
        var arr = ["Select a Category", "Bluetooth_Speakers", "Cameras", "Earphones", "Hard_Disks",
          "Laptops", "Mobiles", "Pendrives", "Power_Banks", "Smart_Watches", "Tablets"];
        var fun = "om_amazon_product_select()";
      }
      else if (a === "Flipkart") {
        var arr = ["Select a Category", "Bluetooth_Speakers", "Cameras", "Earphones", "Hard_Disks",
          "Laptops", "Mobiles", "Pendrives", "Power_Banks", "Smart_Watches", "Tablets"];
        var fun = "om_flipkart_product_select()";
      }
      else if (a == "Select a website") {
        var arr = ["Select a Website first"];
      }
      var string = "";

      for (i = 0; i < arr.length; i++) {
        string = string + "<option>" + arr[i] + "</option>";
      }
      string = "<select id='om-input-category' style='font-size: 23px; margin-top: 5%;'  name='category3' onchange=" + fun + ">" + string + "</select>";
      document.getElementById("om_output_01").innerHTML = string;
    }

    function om_amazon_product_select() {
      var b = document.getElementById("om-input-category").value;
      if (b === "Bluetooth_Speakers") {
        var arr1 = ["Select a Product", "boAt_Stone_200", "boAt_Stone_1000", "Echo_Dot_(3rd_Gen)", "JBL_Flip_3", "JBL_GO", "Mivi_Roam", "Photrn_P10",
          "Portronics_POR_871", "Portronics POR-871_SoundDrum_4.2", "Saregama_Carvaan", "Sony_SRS-XB10_EXTRA_BASS"];

      }
      else if (b === "Cameras") {
        var arr1 = ["Select a Product", "Canon_EOS_200D", "Canon_EOS_1500D_camera", "Canon_EOS_1500D", "D3D_D8810", "Fujifilm_Instax_Mini_9",
          "Mi_MJSXJ02CM", "Nikon_D5300", "Sony_CyberShot_DSCH300", "Sony_Cybershot_DSCWX220", "Sony_DSC_W830", "Sricam_SP_Series_SP005"];
      }
      else if (b === "Earphones") {
        var arr1 = ["Select a Product", "boAt_BassHeads_100", "boAt_BassHeads_152", "boAt_BassHeads_225", "boAt_Rockerz_255_Bluetooth_Earphone", "JBL_C50HI",
          "JBL_C100SI", "Sennheiser_CX_275_S", "Skullcandy_S2DUDZ 072", "Skullcandy_SCS2DUFZ_385", "Sony_MDR_EX150AP", "Sony_MDR_ZX110A"];
      }
      else if (b === "Hard_Disks") {
        var arr1 = ["Select a Product", "Lenovo_F309_USB3_1TB", "Seagate_1TB_Backup_Plus_Slim", "Seagate_2TB_Backup_Plus_External_Hard_Drive", "Seagate_Expansion_Portable_1.5TB",
          "Toshiba_Canvio_Basics_1TB_USB_3", "Transcend_StoreJet_25M3_2-inch_1TB", "WD_My_Passport_4TB", "Western_Digital_Elements_1TB_USB_3", "Western_Digital_My_Passport_2TB"];
      }
      else if (b === "Laptops") {
        var arr1 = ["Select a Product", "ASUS_VivoBooK_Intel_Core_i3", "Dell_Inspiron_3567_Intel_Core_i3", "Dell_Inspiron_Laptop_02", "Dell_Vostro_3480_Intel_Core_i3_8th_Gen",
          "HP_14_Core_i3_7th_gen_14-inch", "HP_14-inch_Core_i5_8th_Gen", "HP_15_Core_i3_7th_gen", "HP_15_Intel_Core_i5", "HP_Laptop_01", "Lenovo_Ideapad_S145_AMD_A6-9225",
          "Lenovo_Legion_Y540_9th_Gen_Intel_Core_i5"];
      }
      else if (b === "Mobiles") {
        var arr1 = ["Select a Product", "Apple_iPhone_XR", "Honor_8X", "Mi_Redmi_6A", "Moto_G_4th_Gen", "Motorola_G5s_Plus", "one_plus_7t", "OnePlus_3T", "OnePlus_5",
          "OnePlus_5T", "OnePlus_7", "OnePlus_7_Pro", "Poco_F1_by_Xiaomi", "Realme_U1", "Redmi_7A", "Redmi_7", "Redmi_Note_8", "Redmi_Note_8_Pro", "Redmi_Y3", "Samsung_Galaxy_M10s",
          "Samsung_Galaxy_M20", "Samsung_Galaxy_M30", "Samsung_Galaxy_M40", "samsung_m30", "Vivo_U10", "Xiaomi_Mi_A3"];
      }
      else if (b === "Pendrives") {
        var arr1 = ["Select a Product", "Kingston_DataTraveler_SE9_16GB_USB_2", "SanDisk_Cruzer_Blade_32GB_USB_Flash_Drive", "SanDisk_Dual_Drive_Type_C",
          "San_Disk_Ultra_32GB_USB_3_Flash_Drive", "SanDisk_Ultra_CZ48_128GB_USB_3", "SanDisk_Ultra_Dual_16GB_USB_3_OTG", "SanDisk_Ultra_Dual_16GB_USB_3_Pen_Drive",
          "SanDisk_Ultra_Dual_32GB_USB_3_OTG", "SanDisk_Ultra_Dual_64GB_USB_3.0_OTG_Pen_Drive", "Sony_16GB_Microvault_USB_Flash_Drive", "Sony_USM32BA2_OTG_32GB"];
      }
      else if (b === "Power_Banks") {
        var arr1 = ["Select a Product", "Ambrane_10000mAh_Lithium_Polymer", "Ambrane_20000mAh_Lithium_Polymer", "Ambrane_Power_Bank_P-1111", "Ambrane_Power_Bank_P-1310",
          "Ambrane_PP-150_15000_mAh", "Intex_IT-PB11K_11000mAH", "Lapguard_LG514_10", "Lapguard_LG803_20800mAH", "Mi_10000mAH_Li-Polymer", "Mi_10000mAH_Li-Polymer_Power_Bank_2i",
          "Mi_20000mAH_Li-Polymer"];
      }
      else if (b === "Smart_Watches") {
        var arr1 = ["Select a Product", "Amazfit_BIP_Lite_3ATM_Smart_Watch", "Amazfit_Bip_Lite_Smart_Watch", "Fastrack_Reflex_2", "Honor_Band_4", "HONOR_Band_5", "Mi_Band_3",
          "Mi_Smart_Band_4", "SAMSUNG_Gear_S3_Frontier_Smartwatch", "SKMEI_Digital_Dial"];
      }
      else if (b === "Tablets") {
        var arr1 = ["Select a Product", "Apple_iPad_Tablet", "Apple_iPad_(Wi-Fi_32GB)", "HUAWEI_MediaPad_T5_Tablet", "Lenovo_Tab4_8_Plus_Tablet", "Samsung_Galaxy_Tab_A_10.1"];
      }
      else if (b == "Select a Category") {
        var arr1 = ["Select a Category First"];
      }


      var string = "";

      for (i = 0; i < arr1.length; i++) {
        string = string + "<option>" + arr1[i] + "</option>";
      }
      string = "<select name='product3' style='font-size: 23px; margin-top: 5%;' onchange='submit_btn3()'>" + string + "</select><br><br>";
      document.getElementById("om_output_02").innerHTML = string;

    }

    function om_flipkart_product_select() {
      var b = document.getElementById("om-input-category").value;
      if (b === "Bluetooth_Speakers") {
        var arr1 = ["Select a Product", "boAt_Stone_Grenade_5W_Portable_Bluetooth_Speaker", "F&boAt_Rugby_10W_Bluetooth_Speaker",
          "F&D_A180X_42W_Portable_Bluetooth_Home_Theatre", "Flipkart_SmartBuy_6W_Powerful_Bass_Bluetooth_Speaker",
          "F&Philips_BT50_2W_Portable_Bluetooth_Speaker", "JBL_Go_PLUS_Portable_Bluetooth_Speaker", "MarQ_by_Flipkart_FS23S_120",
          "Mi_(8_speaker_drivers)_Bluetooth_Soundbar", "Philips_BT40_Portable_Bluetooth_Speaker", "Portronics_POR_821_SoundDrum_Stereo_10W_Bluetooth_Speaker"];

      }
      else if (b === "Cameras") {
        var arr1 = ["Select a Product", "Canon_3000D", "Canon_EOS_1500D", "Canon_EOS_3000D", "Digitek_DTR_550_LW", "KBOOM_Camera_Tripod", "Nikon_D3500",
          "Nikon_D5600", "Noise_Play_Sports_and_Action_Camera", "Oxhox_Tripod_3110", "Perfect_Nova"];
      }
      else if (b === "Earphones") {
        var arr1 = ["Select a Product", "boAt_BassHeads_220", "boAt_Rockerz_255F_Bluetooth", "boAt_Rockerz_400", "JBL_C150SI_Wired", "JBL_T250SI",
          "Mi_Basic_Wired", "Skullcandy_Headset_with_mic", "Skullcandy_Inked_Headset", "Sony_310AP_Wired_Headset", "Sony_ZX110A_Wired"];
      }
      else if (b === "Hard_Disks") {
        var arr1 = ["Select a Product", "HP_1_TB_Wired", "SanDisk_Ultra_Dual_Drive_M3.0_32_GB_OTG_Drive", "Toshiba_Canvio_Basics_1_TB",
          "Toshiba_Canvio_Basics_2_TB", "WD_1.5_TB_Wired", "WD_Elements_1_TB", "WD_Elements_2.5_inch_2_TB", "WD_My_Passport_2_TB",
          "WD_My_Passport_4_TB_Wired"];
      }
      else if (b === "Laptops") {
        var arr1 = ["Select a Product", "Acer_Nitro_5_Ryzen_5_Quad_Core", "Acer_Predator_Helios_300_Core_i5_8th_Gen", "Apple_MacBook_Air_Core_i5_5th_Gen",
          "Asus_VivoBook_S_Series_Core_i5_8th_Gen", "Dell_14_3000_Core_i3_7th_Gen", "Dell_Vostro_14_3000_Core_i5_8th_Gen", "HP_15q_Core_i3_7th_Gen",
          "HP_15q_Pentium_Quad_Core", "Lenovo_Ideapad_Core_i5_7th_Gen", "MSI_GL_Series_Core_i5_8th_Gen"];
      }
      else if (b === "Mobiles") {
        var arr1 = ["Select a Product", "Apple_iPhone_7", "Asus_ZenFone_Max_M2", "Asus_Zenfone_Max_Pro_M1", "Honor_9N", "Infinix_Hot_8", "Lava_A1", "Nokia_6.1_Plus",
          "note7_pro", "one_plus_7t", "OPPO_F11", "OPPO_F11_Pro", "POCO_F1_by_Xiaomi", "Realme_3i", "Realme_3_Pro", "Realme_5", "Realme_5_Pro", "Realme_5s",
          "Realme_C2", "Realme_XT", "redmi-8", "Redmi_7A", "Redmi_8A", "Redmi_Note_7_Pro", "Redmi_Note_7S", "Vivo_Z1Pro"];
      }
      else if (b === "Pendrives") {
        var arr1 = ["Select a Product", "Kingston_DTSWIVL", "Sandisk_Cruzer_Blade_16_GB_Pendrive", "Sandisk_Cruzer_Blade_32_GB", "SanDisk_SDCZ50-064g-I35",
          "SanDisk_SDDDC2-032G-I35_32_GB", "SanDisk_Ultra_Dual_Drive_M3.0_32_GB_OTG_Drive", "SanDisk_Ultra_Dual_SDDD3-064G-I35_64_GB", "SanDisk_Ultra_USB3.0_32_GB",
          "Toshiba_TransMemory",];
      }
      else if (b === "Power_Banks") {
        var arr1 = ["Select a Product", "Intex_11000_mAh_Power_Bank", "Intex_12500_mAh_Power_Bank", "Intex_20000_mAh_Power_Bank", "Mi_10000_mAh_Power_Bank",
          "Mi_20000_mAh_Power_Bank", "Philips_10000_mAh_Power_Bank", "Philips_11000_mAh_Power_Bank", "Philips_20000_mAh_Power_Bank"];
      }
      else if (b === "Smart_Watches") {
        var arr1 = ["Select a Product", "Apple_Watch_Series_3_GPS", "CELESTECH_CS009_phone_Black_Smartwatch", "gionee_smart_life_smartwatch",
          "Huami_Amazfit_Bip_Kokoda_Green_Smartwatch", "Huami_Amazfit_Bip_Onyx_Black_Smartwatch", "lenovo_carme_na_smartwatch", "lenovo_ego_black_smartwatch",
          "Mi_Band_3", "noise_colorfit_pro_smartwatch"];
      }
      else if (b === "Tablets") {
        var arr1 = ["Select a Product", "Apple_iPad_(6th_Gen)_32_GB", "Apple_iPad_(6th_Gen)_128_GB", "Apple_ipad_Mini_(2019)_256_GB",
          "Honor_MediaPad_T3_10_32_GB", "Honor_MediaPad_T3_16_GB", "Huawei_MediaPad_M5_Lite_32_GB", "Lenovo_Tab_4_8_Plus_64_GB",
          "Lenovo_Yoga_3_(2_GB_RAM)_16 GB", "Samsung_Galaxy_Tab_A_8"];
      }
      else if (b == "Select a Category") {
        var arr1 = ["Select a Category First"];
      }


      var string = "";

      for (i = 0; i < arr1.length; i++) {
        string = string + "<option>" + arr1[i] + "</option>";
      }
      string = "<select name='product3' style='font-size: 23px; margin-top: 5%;' onchange='submit_btn3()'>" + string + "</select><br><br>";
      document.getElementById("om_output_02").innerHTML = string;

    }

    function submit_btn3() {
      string = "<button class='btn btn-primary py-3 px-5 btn-pill' style='font-size: 15px;' type='submit'>Submit</button>";
      document.getElementById("submitbtn3").innerHTML = string;
    }


  </script>
</head>

<body>

  <!-- Header -->
  <header id="header" class="alt">
    <div class="inner">
      <h1>Dashboard</h1>
    </div>
  </header>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Banner -->
    <section id="intro" class="main">
      <span class="icon fa-diamond major"></span>
      <form action="/dashboard/sentiment_result" method="POST">
        <h3 style="color: black;">Sentiment Analysis</h3>
        <select name="site1" id="input-website" style='font-size: 23px;' class="dropdown" onchange="category_select()">
          <option>Select a website</option>
          <option>Amazon</option>
          <option>Flipkart</option>
        </select>
        <div id="output1"> </div>
        <div id="output2"> </div>
        <div id="submitbtn1"> </div>
      </form>
    </section>

    <section id="intro" class="main">
      <span class="icon fa-diamond major"></span>
      <form action="/dashboard/feature" method="POST">
        <h3 style="color: black;">Feature Extraction</h3>
        <select name="site2" id="fe-input-website" style='font-size: 23px;' class="dropdown"
          onchange="fe_category_select()">
          <option>Select a website</option>
          <option>Amazon</option>
          <option>Flipkart</option>
        </select>
        <div id="output-01"> </div>
        <div id="output-02"> </div>
        <div id="submitbtn2"> </div>
      </form>
    </section>

    <section id="intro" class="main">
      <span class="icon fa-diamond major"></span>
      <form action="/dashboard/opi" method="POST">
        <h3 style="color: black;">Opinion Mining</h3>
        <select name="site3" id="om-input-website" style='font-size: 23px;' class="dropdown"
          onchange="om_category_select()">
          <option>Select a website</option>
          <option>Amazon</option>
          <option>Flipkart</option>
        </select>
        <div id="om_output_01"> </div>
        <div id="om_output_02"> </div>
        <div id="submitbtn3"> </div>
      </form>
    </section>

    <section id="intro" class="main">
      <span class="icon fa-diamond major"></span>
      <h3 style="color: black;">Data Visualization</h3>
      <ul class="actions">
        <li><a onclick="location.href='/dashboard/data_visualization'" id="start" class="button big">Data Visuals</a>
        </li>
      </ul>
    </section>

    <!-- Items -->


    <!-- CTA -->
    <section id="cta" class="main special">
      <ul class="actions">
        <li><a onclick="location.href='/'" id="start" class="button big">Home</a></li>
      </ul>
    </section>

    <!-- Main -->

    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="https://github.com/Chauhan-Hemant" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.linkedin.com/in/hemant-chauhan-1252a0144/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://twitter.com/hemant__chauhan" class="icon fa-github"><span class="label"> Github </span></a></li>
      </ul>
      <p class="copyright">Copyright &copy; 2020 All rights reserved | This Website is made with 🖤 by HSC.</p>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="../static/javaScripts/jquery.min.js"></script>
  <script src="../static/javaScripts/skel.min.js"></script>
  <script src="../static/javaScripts/util.js"></script>
  <script src="../static/javaScripts/main.js"></script>
</body>

</html>