<html lang="en">

<head>
	<title>SAP by HSC</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../static/css/main.css">

	<style>
		#header {
			background-image: url("{{ url_for('static', filename='images/banner.jpg') }}");
		}
	</style>
</head>

<body>

	<!-- Header -->
	<header id="header" class="alt">
		<div class="inner">
			<h1>S.A.P.</h1>
			<p>A Sentiment Analysis Projct.</p>
		</div>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Banner -->
		<section id="intro" class="main">
			<span class="icon fa-diamond major"></span>
			<h2>Introduction</h2>
			<p>Sentiment Analysis and opinion mining on product reviews data and identifying popular features.</p>
		</section>

		<!-- Items -->
		<section class="main items">
			<article class="item">
				<header>
					<a><img src="../static/images/sentiment-analysis.jpg" alt="" /></a>
				</header>
				<h3 style="color: black;">Sentiment Analysis</h3>
				<p>Sentiment Analysis is the process of computationally identifying and categorizing opinions expressed
					in a piece of text, especially in order to determine whether the writer's attitude towards a
					particular topic, product, etc. is positive, negative, or neutral.</p>
			</article>
			<article class="item">
				<header>
					<a><img src="../static/images/feature_extraction.png" alt="" /></a>
				</header>
				<h3 style="color: black;">Feature Extraction</h3>
				<p>Feature extraction involves reducing the number of resources required to describe a large set of
					data.</p>
			</article>
			<article class="item">
				<header>
					<a><img src="../static/images/opinion-mining.png" alt="" /></a>
				</header>
				<h3 style="color: black;">Opinion Mining</h3>
				<p>Opinion Mining refers to the use of natural language processing, text analysis, computational
					linguistics, and biometrics to systematically identify, extract, quantify, and study affective
					states and subjective information.</p>

			</article>
			<article class="item">
				<header>
					<a><img src="../static/images/data-vidualization.png" alt="" /></a>
				</header>
				<h3 style="color: black;">Data Visualization</h3>
				<p>Data visualization is the graphic representation of data. It involves producing images that
					communicate relationships among the represented data to viewers of the images.</p>
			</article>
		</section>

		<!-- CTA -->
		<section id="cta" class="main special">
			<ul class="actions">
				<li><a onclick="location.href='dashboard'" id="start" class="button big">Get Started</a></li>
			</ul>
		</section>

		<!-- Main -->

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://github.com/Chauhan-Hemant" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.linkedin.com/in/hemant-chauhan-1252a0144/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://twitter.com/hemant__chauhan" class="icon fa-github"><span class="label"> Github </span></a></li>
			</ul>
			<p class="copyright">Copyright &copy; 2020 All rights reserved | This Website is made with 🖤 by HSC.</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="../static/javaScripts/jquery.min.js"></script>
	<script src="../static/javaScripts/skel.min.js"></script>
	<script src="../static/javaScripts/util.js"></script>
	<script src="../static/javaScripts/main.js"></script>

</body>

</html>